/*.top-header {
margin-top: 200px;
}*/

html {
    min-height: 100%;
    background: #fafbfb;
}

.m-t-75 {
    margin-top: 75px;
}

.au-breadcrumb {
    height: 75px;
    position: relative;
    z-index: 0;
}

.section__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.au-breadcrumb .section__content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section__content--p30 {
    padding: 0 30px;
}

.section__content {
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.au-breadcrumb-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-container2 {
    background: #fafbfb;
    padding-left: 250px;
}

.browse-assignment {
    background-color: #3f51b5;
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    border-radius: 0;
    color: #ffffff;
    padding: 6px 20px;
}

.browse-assignment:hover {
    color: #fff
}

.img-120 {
    height: 100px;
    width: 100px;
}

.email {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #414141;
}

.navbar-sidebar2 .navbar__list li a:hover {
    background: #f0f4f9;
    text-decoration: none;
    color: #555;
}

.navbar-sidebar2 .navbar__list li.active a {
    background: #f0f4f9;
    text-decoration: none;
    color: #555;
}

.section-content {
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px
        /*height: calc(100vh - 190px) !important;*/
}

.section-content table thead th,
.section-content table tbody td {
    border: none;
}

.section-content table thead th {
    font-size: 15px;
    font-weight: 500;
    color: #39393b
}

.section-content table tbody td {
    font-size: 14px;
    color: #39393b;
}

.au-breadcrumb-left h4 {
    font-size: 21px;
    font-weight: 500;
    color: #39393b;
}

.dropdown-toggle::after {
    display: none;
}

.more-btn {
    background: #eeeeee;
    border: none;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.table tbody tr:hover {
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.09);
}

.table tr td,
.table tr th {
    padding: 12px 10px;
}

.badge-info {
    border-radius: 8px;
    border: navajowhite;
    background-color: #d4f1f0;
    color: #02b3ae;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: normal;
}

.badge-warning {
    border: navajowhite;
    background-color: #fff1d3;
    color: #ff8700;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: normal;
}

.badge-success {
    border: navajowhite;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 10px;
    font-weight: normal;
}

.logout {
    position: absolute;
    bottom: 100px;
    padding: 13px 30px;
    width: 100%;
    color: #333;
}

.logout a {
    color: #555;
}

.logout:hover,
.logout:hover a {
    background-color: #f0f4f9;
    text-decoration: none;
}

.modal-text-paragraph {
    font-size: 19px;
    color: #000;
}

.btn-plus {
    background-color: #3f51b5;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    border-radius: 0;
}

.words-text {
    font-size: 13px;
    font-weight: 500;
    color: #101010
}

.dark-blue-btn:hover {
    color: #fff !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.btn-blue {
    background-color: #3f51b5;
    color: #fff;
    border-radius: 0;
    padding: 3px 37px;
}

.add-assignments label {
    font-size: 15px;
    text-align: center;
    color: #373737;
}

.add-assignments .form-control {
    font-size: 15px;
    font-weight: 300;
    color: #919191;
    border-radius: 0;
    /* height: 45px; */
}

.add-assignments textarea {
    height: auto !important;
}

.date-to-delivered {
    position: relative;
}

.date-to-delivered img {
    position: absolute;
    right: 0;
}

.date-to-delivered img {
    position: absolute;
    right: 30px;
    top: 40px;
}

.dark-blue-btn {
    border-radius: 4px;
    background-color: #122d56;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px !important;
    text-align: center;
    color: #ffffff;
}

.writer-name {
    font-size: 16px;
    font-weight: 500;
    color: #39393b;
}

.skills {
    font-size: 14px;
    color: #39393b;
}

.offers {
    font-size: 14px;
    font-weight: 500;
    color: #39393b
}

.modal-title {
    font-size: 21px;
    font-weight: 500;
    color: #39393b;
}

.border-bottom-none {
    border-bottom: none;
}

.modal-content {
    border-radius: 0;
}

.writeroffers .media-body div {
    line-height: 26px;
}

.writeroffers .modal-dialog {
    max-width: 600px;
}

.stamp {
    width: 55px;
}

.writeroffers .modal-body {
    padding-top: 0 !important;
}

.offer-list {
    box-shadow: 0 4px 1px -3px rgba(0, 0, 0, 0.09);
}

.one-star {
    width: 18px;
    vertical-align: top;
}

.mobile-res-tb td {
    vertical-align: middle;
}

.change-password .form-control {
    border-radius: 0;
    height: 45px;
}

.paypal-setting label {
    font-size: 18px;
    font-weight: 500;
    color: #39393b
}

.paypal-setting {
    margin-top: 50px;
}

.paypal-setting h6 {
    font-size: 15px;
    line-height: 1.07;
    color: #000000;
    margin-bottom: 20px;
}

.assignment-details b {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

.assignment-details h4 {
    font-size: 20px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.87);
}

.assignment-details p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

.download-file a {
    color: #093e8a;
    font-weight: 600;
    font-size: 16px;
}

.writers-offer h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    color: rgba(0, 0, 0, 0.87);
}

.assignment-details {
    padding: 0 32px;
    line-height: 39px;
}

.edit-profile h5 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

.edit-profile label {
    font-size: 15px;
    color: #363636
}

.edit-profile .form-control {
    border-radius: 0;
    border-color: #d4d4d4;
    height: 45px;
}

.edit-profile textarea {
    height: auto !important;
    resize: none;
}

.edit-profile select {
    height: 45px !important;
}

.edit-profile .shadow {
    background: #fff;
}

.edit-profile .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a3a3a3;
    font-weight: 300;
}

.edit-profile .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a3a3a3;
    font-weight: 300;
}

.edit-profile .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #a3a3a3;
    font-weight: 300;
}

.edit-pic-profile {
    position: relative;
}

.edit-pic {
    display: block !important;
    position: absolute;
    bottom: 62px;
    right: -7px;
    height: 27px;
    background: #fff;
    border-radius: 50%;
    width: 27px;
    box-shadow: 0 2px 4px 0 rgba(217, 217, 217, 0.5);
}

.edit-pic img {
    width: 17px !important;
    height: auto !important;
}

.edit-pic-profile img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.img-setting-profile {
    position: relative;
    width: 145px;
    height: 145px;
    margin: 0 auto;
}

.payment-setting .form-control {
    border-radius: 0;
    height: 45px;
}

.assignment-details h6 {
    font-weight: 500;
    color: #000;
}

.green-text {
    color: #38b338;
    font-weight: bold;
    font-size: 16px;
}

.result-found {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.post-title {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.assignment-type {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.delivered-to-be {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.assignment-post-list p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: normal;
    margin-bottom: 10px;
}

.total-offer-made {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87)
}

.assignment-post-list b {
    font-weight: 600;
}

.blue-bg-input-group {
    background: #3f51b5;
    border: transparent;
}

.search-filter .form-control {
    border-radius: 0;
}

.filter-box {
    box-shadow: 0 0 8px 3px #f2f2f2;
    padding: 18px;
}

.btn-filter {
    background-color: #29384f;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
}

.clear-btn {
    background-color: #dcdcdc;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #333;
}

.profile-nav li a {
    color: #333;
    line-height: 52px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.multiple-select-custom .btn {
    width: 500px;
    background: #fff;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0;
}

.calander-icon-setting {
    position: relative;
}

.calander-icon-setting img {
    position: absolute;
    right: 5px;
    top: 46px
}

.btn-add-more {
    background-color: #808080;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.13;
    text-align: center;
    color: #ffffff;
    border-radius: 0;
}

.add-custom {
    background-color: #808080;
    color: #fff;
    padding: 8px 26px;
    border-radius: 0;
}

.add-cat-bg {
    background: #ededed;
    padding: 4px 10px;
    border-radius: 8px;
}

.profile-nav li.active {
    background: #f0f4f9;
}

.profile-nav-link:hover,
.profile-nav-link:hover a {
    background: #f0f4f9;
    text-decoration: none;
}

.btn-gray {
    background: #808080;
    color: #f2f2f2;
    border-radius: 0;
}

.btn .caret {
    margin-left: 0;
    float: right;
    margin-top: 11px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.edit-profile h4 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}

.location {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
}

.right-profle-section {
    line-height: 47px;
}

.document-text a {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #212121;
}

.right-profle-section strong {
    font-weight: 600;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87)
}

.about-section h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.87);
}

.about-section p {
    font-size: 14px;
    line-height: 1.64;
    color: #212121;
}

.education-label h6 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.profile-img-settings {
    height: 220px;
    width: 220px;
}

.right-profle-section .btn-blue {
    padding: 8px 14px;
}

.profile-view {
    margin-top: 100px;
}

.student-panel {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
}

.position-relative {
    position: relative;
}

.position-relative .upload-btn-wrapper {
    position: absolute;
    right: 0
}

.pay-btn {
    background: #000;
    color: #fff;
    padding: 3px 4px;
    font-size: 12px;
}

.last-name-invisible {
    opacity: 0;
}

.delivery-schedule {
    background: #6c757d;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
}

.delivery-schedule:hover {
    color: #fff !important;
    text-decoration: none
}

.modal label {
    font-size: 14px;
}

.modal h6 {
    color: #1340a0;
}

.client {
    font-size: 12px;
}

.custom-label {
    font-size: 12px;
}

.add-delivery-date {
    font-size: 15px;
    color: #333;
}

.add-delivery-date:hover {
    color: #333 !important;
    text-decoration: none;
}

.delivery-schedule-td img {
    width: 20px;
}

.download-file {
    color: #000;
}

.download-file:hover {
    color: #000;
}

.view-delivery label {
    font-weight: 600;
    color: #000;
}

.view-delivery p {
    font-weight: 300;
    font-size: 14px;
}

.price-box {
    width: 195px;
}

.delivery-schedule-td {
    width: 250px;
}

.view-delivery-date {
    width: 170px
}


.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

@media (max-width: 1024px) {
    .d-sm-none {
        display: block !important;
    }

    .header-button-item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 991px) {

    .mobile-res-tb table,
    .mobile-res-tb table>tbody,
    .mobile-res-tb table>tbody>tr,
    .mobile-res-tb table>tbody>tr>td {
        display: block;
    }

    .mobile-res-tb,
    .mobile-res-tb table {
        border: none;
    }

    .mobile-res-tb table {
        width: 100%;
    }

    .mobile-res-tb thead {
        display: none;
    }

    .mobile-res-tb tr {
        border: 1px solid #dadada;
    }

    .mobile-res-tb tr+tr {
        margin-top: 25px;
    }

    .mobile-res-tb tr:nth-of-type(2n) {
        background-color: inherit;
    }

    .mobile-res-tb tr td:first-child {
        /*background: #f0f0f0;*/
    }

    .mobile-res-tb tbody td {
        display: block;
        text-align: center;
        position: relative;
    }

    .mobile-res-tb .table>tbody>tr:first-child>td+td,
    .mobile-res-tb tbody td+td {
        display: block;
        border-top: 1px solid #f2f2f2 !important;
    }

    .mobile-res-tb tbody td:before {
        content: attr(data-th);
        display: block;
        font-size: 1.1em;
        white-space: normal;
    }

    .header-text-left tbody td {
        text-align: right;
    }

    .header-text-left tbody td:before {
        padding: 15px 0;
        position: absolute;
        text-align: left;
        top: 0;
        bottom: 0;
        float: left;
    }

    .mobile-res-tb tbody>tr>td[data-th="action"],
    .mobile-res-tb tbody>tr>td[data-th=""] {
        text-align: center;
    }

    .mobile-res-tb tbody>tr>td[data-th="action"]:before,
    .mobile-res-tb tbody>tr>td[data-th=""]:before {
        display: none;
    }

    .checkbox-slider--default>label {
        position: relative;
    }
}

@media screen and (max-width: 414px) {
    .mobile-res-tb .table>tbody>tr>td {
        font-size: 13px;
        padding: 5px 10px;
    }

    .header-text-left tbody td,
    .header-text-left tbody td:before {
        text-align: center;
    }

    .header-text-left tbody td:before {
        font-size: 1.3em;
        padding: 5px;
        position: static;
        float: none;
    }
}

@media (max-width: 767px) {

    .add-assignments .form-control {
        height: 38px;
    }

    .words-text {
        font-size: 12px;
    }

    .price-box,
    .delivery-schedule-td,
    .view-delivery-date {
        width: auto;
    }

    .assignment-type {
        text-align: left !important;
        font-size: 16px;
    }

    .multiple-select-custom .btn {
        width: 250px !important;
    }

    .delivered-to-be {
        text-align: left !important;
    }


    .edit-profile h5 {
        font-size: 16px;
    }

    .writer-name {
        font-size: 14px
    }

    .add-cat-bg {
        font-size: 14px;
    }

    .edit-profile h4 {
        font-size: 16px;
    }

    .fancyme-tags input[type=text] {
        width: 216px !important;
    }

    .filter-btn {
        margin-top: 10px;
    }

    .assignment-details {
        padding: 0;
    }

    .m-t-75 {
        margin-top: 0 !important
    }

    .section-content {
        height: auto !important;
        box-shadow: none;
    }

    .sort-by {
        margin-bottom: 20px;
    }

    .stamp {
        display: none;
    }

    .stamp-section {
        text-align: right !important;
    }

    .sort-by-section {
        max-width: 100%;
        display: block !important;
        flex: 100%;
    }
}

@media (max-width: 991px) {
    .page-container2 {
        position: relative;
        padding-left: 0;
    }

    .section__content--p30 {
        padding: 0;
    }

    .header-wrap2 img {
        width: 200px;
    }

    .au-breadcrumb-content {
        display: block !important;
        text-align: center;
    }

    .au-breadcrumb {
        height: 100px;
        background: #fff;
        position: relative;
        z-index: 0;
    }

    .m-t-75 {
        margin-top: 88px !important;
        margin-bottom: 15px;
    }

    .section-content,
    .main-content {
        padding-top: 10px !important;
        padding-bottom: 40px !important;
    }
}