* ==========================================================================
   product details page
   ========================================================================== */


.details-panel{
	border-radius: 0px !important;
	padding: 20px 15px !important;
}

.product-image-holder{
	text-align: center;
}
.product-display{
	margin: 10px 0px 10px 8px; 
	transition: .2s all ease;
	cursor: pointer;
	width: 25%;
	position: relative;
}
.product-display:hover{
	transform: scale(1.1);
	opacity: .8;
}

#mainImg{
	width:  100%;
	cursor: pointer;
	padding: 0px 5px;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
}

.product-right > h3, .product-right > h5{
	margin-top: 0px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #d4d4d4;
}

.product-right > h5{
	margin-bottom: 0px;
}

.product-available{
	margin-bottom: 15px;
}
.sperate-text{
	color: #ff8f3c;
}


.product-star-group > i{
	color: #f1c40f;
	margin-bottom: 15px;

}
.product-info-holder{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	display: table;
	padding: 10px 0px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

.color-box{
	width: 20px;
	height: 20px;
	position: relative;
	float: left;
	background: #ddd5d5;
	color: black;
	cursor: pointer;
	margin-right: 10px;
}

#productBrown{
	background: #531f1f;
	margin-bottom: 10px;
}

#productBlack{
	background: #000;
	margin-bottom: 10px;
}

#productBlue{
	background: #3709e3;
	margin-bottom: 10px;
}

#productRed{
	background: #ba0808;
	margin-bottom: 10px;
}

.product-custom-input span{
	padding: 0px 1rem !important;
	font-size: 20px !important;

}
.charecters_val{
	width: 60px;
}
.product-custom-input > input{
	text-align: center;
	font-size: 18px;
}
.product-custom-input{
	margin-bottom: 20px;
	position: relative;
	top: 2px;
}

.my-shop-btn-lg{
	border-radius: 0px;
	background: #34d1c6;
	color: white;
	border: 2px dotted white;
	transition: .2s all ease;
}

.product-custom-tabs > li.active > a, .product-custom-tabs > li.active > a:focus, .product-custom-tabs > li.active > a:hover{
	border-radius: 0px;
}
.tab-content p[class="lead"]{
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 18px;

}
#productDescription{
	border-top: none;
}

.product-custom-tab-pane{
	position: relative;
	top: -9px;
	border: 1px solid #d4d4d4;
	border-top: none;
	padding: 0px 16px;
}

/* right side listing carousel */

.listing-carousel > .product-right i{
	margin-left: 10px;
	font-size: 28px;
	color: black;
}

.custom-media-body > h5{
	margin-top: 24%;
	font-size: 1em;
}
.custom-media{
	border-bottom: 1px solid #d4d4d4;
	padding: 15px 0px 15px 0px;
}

/* arrodian styling */

#accordion-first .accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    padding: 5px 0px !important;
    color: #332219;
    outline: medium none !important;
    text-decoration: none;
    font-family: 'Din';
    font-size: 19px;
}

#accordion-first .accordion-group {
    margin-bottom: 0;
    border-top: 1px solid #d4d4d4;
    padding: 20px 0;
}

#accordion-first .accordion-heading, #accordion-first .accordion-toggle:hover, #accordion-first .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% transparent;
}

.accordion-heading a.accordion-toggle[aria-expanded="true"] em::before{
	content: '\f068';
}

#accordion-first .accordion-heading {
    border-bottom: 0px none;
    font-size: 16px;
}

#accordion-first .accordion-heading .accordion-toggle > em {
    background-color: transparent;
    border-radius: 100px;
    color: #332219;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
    border: 1px solid #332219;
}


#accordion-first .accordion-inner p{
	opacity: .6;
}

/* media query */

@media only screen and (max-width: 992px){
	.product-custom-input span {
	    padding: 0px 2rem !important;
	}
}

@media only screen and (max-width: 768px){
	#mainImg {
	    width: 76%;
	    float: left;
	    margin-right: 2rem;
	    margin-bottom: 2rem;
	}

	.product-display {
	    display: block;
	    width: 17%;
	}
}

@media only screen and (max-width: 491px){
	.product-display {
	    display: inline-block;
		width: 25%;
	}

	#mainImg {
    	width: 100%;
	}
}

.addCart {
	margin-left: 50px;
}