
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.home-bg{
    /*background: url(../images/top-home-banner.png)bottom center no-repeat;*/
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}

.active{
  position: relative;
}

.navbar-nav .active a,
.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:focus{
  font-weight: 600;
  color: #fff  !important;
  background: url('../images/line-bottom.png') no-repeat;
  background-position: 32px 33px;
}

.navbar-brand img {
  width: 320px;
}

.main-heading{
  font-size: 34px;
  color: #fff;
  margin-bottom: 20px;
}

.top-banner-text ul li {
  font-size: 24px;
  color: #fff;
  line-height: 44px;
}

.top-banner-text ul li img{
  margin-right: 5px;
}

.btn-orange  {
   background-color: #f9a63a;
    color: #000;
    font-size: 18px;
    border-radius: 0;
    line-height: 36px;
    font-weight: 500;
}

.btn-orange-border{
   background-color: transparent;
    color: #f9a63a;
    font-size: 18px;
    border-radius: 0;
    line-height: 32px;
    border:3px solid #f9a63a;
    font-weight: 500;
}

.button-margin {
  margin-top: 70px;
}

.custom-nav {
    padding-right: 29px;
    padding-left: 29px;
}

.change-scroll {
    background: -moz-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    background: linear-gradient(to right, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05e4f7', endColorstr='#d10470b3', GradientType=1);
}

.sub-title{
     font-size: 20px;
    color: #51504f;
    margin: 10px 0;
    font-weight: 600;
}


.why-choose-us-left-section{
  padding-left: 120px;
  padding-top: 70px;
  padding-bottom: 50px;
}


.text-choose-us{
  position: absolute;
  top: 25%;
  color: #fff;
  left: 34px;
  line-height: 63px;
  text-align: right;
  text-transform: uppercase;
}

.bold-text {
  font-size: 72px;
  font-weight: 900;

}

.us{
  font-size: 72px;
  font-weight: 500;
}

.why-choose-us-left-section p{
  font-size: 14px;
  color: #51504f;
  line-height: 28px;
}


.who-we-are {
    background-color: #f9f9f9;
    padding: 100px 0 30px 0;
}

.big-text-black {
    font-size: 72px;
    color: #51504f;
    font-weight: 900;
    line-height: 64px;
}

.who-we-are .sub-heading {
    font-size: 58px;
    color: #51504f;
}
.who-we-are .sub-heading {
    font-size: 58px;
    color: #51504f;
    line-height: 61px;
}

.who-we-are p {
    font-size: 14px;
    color: #51504f;
    line-height: 28px;
}

.btn-blue {
    background-color: #214e72;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    padding: 9px 18px
}

.who-we-are-right{
  margin-top: 60px;
}

.we-provide{
 color: #51504f;
    font-size: 69px;
    line-height: 66px;
    text-transform: uppercase;
    margin-bottom: 32px;

}

.service-we-provide p{
   font-size: 16px;
    color: #51504f;
    line-height: 28px;
}

.btn-dark-blue{
   background-color: #13284c;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
   padding: 10px 38px;
}

.service-we-provide .sub-title {
  color: #51504f;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}

.service-we-provide-right p {
  font-size: 14px !important;
}

.service-we-provide{
  padding: 150px 0;
  padding-bottom: 100px;
}

.service-we-provide-left{
      padding-top: 100px;
    padding-right: 70px;
    padding-left: 43px;
}

.service-we-provide .container-fluid {
  padding-left: 150px;
  padding-right: 150px;
}

.blue-bg-bottom{
  background:url('../images/blue-bg-strip.png') no-repeat;
  padding: 77px 0;
  background-size: cover;
}


.big-font-white{
  font-size: 100px;
  font-weight: 500;
  color: #fff;
      line-height: 105px;
}

.white-text{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.expertise h1 {
  color: #51504f;
  font-size: 48px;
}

.expertise-title{
  color: #3e4c5f;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 500;
      margin-bottom: 20px;

}

.expertise .form-control{
  border-color: #13284c;
  border-radius: 0;
  border-width: 2px;
  height: 61px;
}

.expertise .input-group-text{
  height: 63px !important;
background: #13284c!important;
color: #fff;
border-radius: 0!important;
margin-top: -1px!important;
padding-left: 31px!important;
padding-right: 31px!important;
}

.expertise {
      padding: 65px 0;
}


/** footer **/

.footer {
    background: #252525;
    padding: 25px 0 25px 0;
}

.footer li a {
    color: #fff;
    font-size: 16px;
    padding: 0 70px 0 37px;
    line-height: 40px;
    padding-left: 0 !important;
}

/*.footer-logo{
  width: 300px;
}
*/
.newsletter label {
     font-size: 19px;
    color: #fff;
    margin-top: 9px;
    margin-bottom: 20px;

}

.newsletter .form-control {
  background: transparent;
  border:2px solid#fff;
  border-radius: 0;
  font-size: 18px;
  height: 48px;
}

/*.footer-logo{
      max-width: 275px;
    object-fit: contain;
}*/

.btn-outline-secondary{
  background: #fff;
  color: #000;
  border-color: #fff;
  border-radius: 0;
  font-size: 22px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus{
  background: #fff;
  color: #000;
  border-color: #fff
}

.follow-us-section .sub-heading {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.follow-us-section ul li a {
      padding: 0 39px 0 37px;
}

.copy-right p {
  color: #fff;
  font-size: 16px;
}

.copy-right {
      margin-top: 52px;
}


.words-from-client-bg {
    background: url(../images/words-from-client-bg.png);
    background-size: cover;
    height: 603px;
    position: relative;
    background-position: center center;
}

.client-text{
     color: #fff;
    text-transform: uppercase;
    line-height: 73px;
    position: absolute;
       right: 14px;
    top: 30%;
}

.carousel-indicators li{
  background-color: #000;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #fff;
}

/*.carousel-control-next, .carousel-control-prev{
  width: auto;
}*/

.carousel-inner {
      position: relative;
    width: 58%;
    margin: 0 auto;
    text-align: center;
    line-height: 37px;
}

.carousel-indicators{
  bottom: -45px;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255,255,255,.5);
}

.carousel-indicators li {
    background-color: #fff;
}

.carousel-indicators .active {
    background-color: #51504f;
}

.carousel-control-prev-icon {
    background-image: url(../images/left-arrow.png);
    width: 56px;
    height: 56px;
    display: none;
}

.carousel-control-next-icon {
    background-image: url(../images/right-arrow.png);
    width: 56px;
    height: 56px;
    display: none;
}

.testimonials h2::after {
  content: "";
    width: 75px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #00c3e8;
    left: 0;
    right: 198px;
    bottom: -5px;
}

.carousel-item .text-testimonial::before{
 content: "";
    background: url(../images/quotes-top.png) no-repeat;
       width: 40px;
    height: 33px;
    position: absolute;
    left: 0;
    top: 12px;
    margin: 0 auto;
    text-align: center;
    right: 0;

}

.carousel-item .text-testimonial::after{
  content: "";
    background: url(../images/quotes-bottom.png) no-repeat;
        width: 40px;
    height: 33px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    text-align: center;
}


.carousel-item .text-testimonial {
     padding: 30px 0;
    line-height: 19px;
    font-size: 14px;
    position: relative;
}

.text-testimonial .name {
  font-size: 22px;
}

.text-testimonial .position {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
.words-from-client{
  background: #f4f4f4;
}

.text-testimonial p {
  margin-top: 33px;
    margin-bottom: 20px
}


.newsletter .form-control::placeholder { 
  color: #6c6969;
  opacity: 1;
}

.newsletter .form-control:-ms-input-placeholder { 
  color: #6c6969;
}

.newsletter .form-control::-ms-input-placeholder { 
  color: #6c6969;
}

.newsletter .form-control{
  color: #fff !important;
}



/** mobile menu **/


.custom-nav.navbar-light .navbar-toggler {
    border-color: transparent;
    font-size: 28px;
    padding-bottom: 0;
    padding-top: 0;
    outline: none;

}

.navbar-toggler {
    position: relative;
    z-index: 20;
}

.navbar-toggler span {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}

.navbar-toggler.active:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler.active span:nth-child(1),
.navbar-toggler.active span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler.active:not(.collapsed) span:nth-child(1),
.navbar-toggler.active:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    opacity: 0.9;
}

.navbar-toggler.active:not(.collapsed) span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navbar-toggler.active:not(.collapsed) span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.site-header-mobi-panel {
    position: fixed;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    background: -moz-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    background: linear-gradient(to right, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05e4f7', endColorstr='#d10470b3', GradientType=1);
    overflow: hidden;
    visibility: visible;
}

.site-header-mobi-panel.site-header-show {
    visibility: visible;
}

.site-header-mobi-panel.site-header-open {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.site-header-mobi {
    height: 100vh;
}


.login-bg {
    background: url(../images/login.png)bottom center no-repeat;
    background-size: cover;
/*    height: 100vh;*/
    position: relative;
        padding-top: 100px;
    padding-bottom: 100px
}

.signup-wraper{
  background-color: rgba(255,255,255,0.72);
  padding: 44px 117px;
}

.signup-wraper h3 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #29384f;
  margin-bottom: 15px;
}

.Or-you-can-use-your {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.signup-wraper label {
   font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
      padding-left: 10px;
}


.form-control {
  border: solid 1px #29384f;
  background-color: #ffffff;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #29384f;
}

.custom-checkbox label {
    font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: #000000;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #000;
}

.custom-checkbox a {
   color: #000000;
   text-decoration: underline;
}

.btn-dark-blue {
  background-color: #29384f;
   font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.already-have-an-account{
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #29384f;
}

.already-have-an-account a {
   color: #29384f;
   font-weight: bold;
}
.login-left-bg{
  background: url('../images/login-left.png') no-repeat;
  background-size: cover;
      padding-top: 186px;
}

.login-page .signup-wraper{
     padding: 16px 61px;
     padding-top: 30px;
}

.login-page h3 {
  margin-bottom: 20px !important;
}

.welcome-back{
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.to-keep-connected{
   font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.forgot-password a{
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: #29384f;
}

.forgot-password{
  margin-bottom: 0;
}

.login-page .Or-you-can-use-your{
  margin-bottom: 0;
}

.login-section{
  height: 100vh !important;
}

.nav-tabs li {
  width: 50%;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  color: #ffffff;
  font-size: 16px;
  /* text-transform: uppercase; */
  background-color: #29384f;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link{
  font-size: 16px;
  /* text-transform: uppercase; */
  color:#333; 
  text-align: center;
}

.nav-tabs{
  border-bottom: none;
}
.nav-tabs .nav-link{
  border-radius: 0px !important;
  border:none;
  font-weight: 600;
  border: 1px solid #29384f;
  border-color: #29384f !important;
}

.footer .footer-logo {
  width: 300px;
}

.nav-bg{
  background: -moz-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
  background: linear-gradient(to right, rgba(18, 45, 86, 1) 0%, rgba(36, 75, 132, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05e4f7', endColorstr='#d10470b3', GradientType=1);
}

.custom-margin{
  margin-top: 100px;
}

.thanku-text{
  font-weight: 600;
  font-size: 30px;
}

.thanks-msg{
  font-size: 18px;
  font-weight: 300;
}

.thanks-page{
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

/* The container */
.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 37px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
}

/* Hide the browser's default radio button */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/* .custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
  background-color: #29384f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.date-to-delivered {
  position: relative;
}


.date-to-delivered img {
  position: absolute;
  right: 19px;
  top: 41px;
}

.btn-plus {
  background-color: #3f51b5;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  border-radius: 0;
}

.form-control{
  height: auto;
}


@media (max-width: 767px) {

  .login-page .pl-0{
    padding-left: 15px !important;
  }

  .login-page .signup-wraper {
    padding: 16px 35px;
    padding-top: 30px;
}

  .login-left-bg{
    padding-top: 0;
    display: none;
  }

.login-section {
    height: 100% !important;
}
  .login-bg .container {
    padding: 0;
  }

.signup-wraper{
  padding: 27px 15px;
}
  .newsletter .form-control{
    height: 47px;
  }

  .blue-bg-bottom img {
       width: 50px;
    height: 56px;
    object-fit: contain;
  }

  .white-text{
    font-size: 15px !important;
  }

  .navbar-collapse :not(.show) {
    display: none;
}
  .navbar-brand img {
    width: 200px;
}

.main-heading {
    font-size: 19px;
    }

    .service-we-provide .container-fluid {
     padding-left: 0px; 
     padding-right: 0px;
}

.button-margin {
    margin-top: 70px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.button-margin .pl-0 {
  padding-left: 15px !important;
  margin-bottom: 15px;
}

.button-margin .pr-0 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.top-banner-text ul li{
  font-size: 18px;
}

.why-choose-us-left-section {
    padding-left: 34px;
    padding-top: 31px;
    padding-bottom: 50px;
    text-align: center;
}

.pr-0 {
  padding-left: 0px !important
}

.who-we-are img{
  width: 100%;
}

.who-we-are .big-text-black {
  font-size: 40px;
  line-height: 42px;
}

.who-we-are .sub-heading{
  font-size: 40px;
  line-height: 37px;
}

.who-we-are {
    padding: 50px 0 50px 0;
}

.text-choose-us {
    top: 27%;
    left: 18px;
    line-height: 43px;
}

.text-choose-us .bold-text,
.text-choose-us .us{
  font-size: 39px;
}

.service-we-provide-right{
  text-align: center;
    padding: 0px;
}

.service-we-provide{
  padding:50px 15px 0  15px !important;
}

.service-we-provide-left{
      padding-top: 39px;
      padding: 0;
      text-align: center;
}

.service-we-provide-left .big-text-black,
.service-we-provide-left .we-provide.text-right{
  text-align: center !important;
      font-size: 41px;
    line-height: 45px;
}

.service-we-provide p{
  padding: 0 15px;
}

.btn-dark-blue{
  margin-bottom: 20px;
}

.big-font-white {
     font-size: 31px;
    line-height: 46px
}

.blue-bg-bottom .col-sm-4{
  margin-bottom: 45px;
}

.blue-bg-bottom {
    padding: 35px 0 0 0;
}

.expertise h1{
  font-size: 25px;
}

.expertise-title{
  font-size: 30px;
}

.words-from-client-bg{
  height: 258px;
}

.words-from-client .pl-0 {
  padding-right: 0px !important;
}

.client-text .us,
.client-text .bold-text {
      font-size: 32px;
}

.client-text{
  line-height: 38px !important;
}

.carousel-inner{
  width: 100%;
  margin-top: 30px;
}

.words-from-client{
  padding-bottom: 70px;
}

.footer .pl-0 {
  padding-left: 15px !important;
}

.footer {
  text-align: center;
      padding: 36px 0 24px 0;
}

.footer li a{
  padding: 0;
      font-size: 15px;
      line-height: 44px;
}

.footer-logo {
 /*   width: 300px;*/
    margin: 0 auto;
    margin-bottom: 30px;
}

.copy-right p{
  font-size: 13px;
}

.footer-logo {
    max-width: 231px;
    object-fit: contain;
}

.service-we-provide .sub-title{
  font-size: 20px;
}

.follow-us-section .sub-heading{
  font-size: 20px;
}

.follow-us-section {
  margin-top: 20px;
}

.copy-right {
    margin-top: 0;
}

.newsletter label{
  font-size: 20px;
}

.btn-outline-secondary{
  font-size: 17px;
}

.navbar-light .navbar-toggler-icon {
    background:url('../images/menu.png') no-repeat;
    height: 30px;

}

.navbar-light .navbar-toggler{
  border-color: transparent;
}

.site-header-mobi .site-nav {
    padding: 3rem .9375rem .5rem;
    text-align: center;
    line-height: 42px;
    color: #fff;
}

.site-header-mobi  ul  li a {
        color: #fff;
    font-size: 20px;
    line-height: 65px;
}


}



@media (min-width: 768px) and (max-width: 1024px) {
.site-header-mobi .site-nav {
    padding: 3rem .9375rem .5rem;
    text-align: center;
    line-height: 42px;
    color: #fff;
}

.site-header-mobi  ul  li a {
    color: #fff;
    font-size: 20px;
    line-height: 65px;
}

.main-heading{
    font-size: 29px;
}

.bold-text,
.us{
    font-size: 46px;
}

.service-we-provide .container-fluid{
    padding-left: 15px;
    padding-right: 15px;
}

.big-text-black {
    font-size: 46px;
}

.who-we-are .sub-heading{
    font-size: 46px;
}

.big-font-white {
    font-size: 60px;
}

.carousel-inner{
  width: 100% !important;
}

.expertise h1,
.expertise-title{
  font-size: 37px;
}

.service-we-provide-left {
  padding-top: 0;
}

.service-we-provide {
    padding: 58px 0;
    padding-bottom: 29px;
}


}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}



}

@media (min-width: 1280px) and (max-width: 1700px) {
  .service-we-provide .container-fluid {
    padding-left: 108px;
    padding-right: 108px;
}

.service-we-provide-left{
  padding-left: 15px !important;
      padding-right: 50px;
 }

 .we-provide{
  font-size: 65px;
 }

 .words-from-client-bg .us ,
  .words-from-client-bg .bold-text{
    font-size: 59px;
  }
}
