
<?php

if (!isset($params['escape']) || $params['escape'] !== false) {
    $message = h($message);
}
?>
<center><div class="message success alert alert-success" onclick="this.classList.add('hidden')"><?= $message ?></div></center>

