<section class="content-header">
    <h1>
        <?= __('Pages') ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i>  <?= __('Pages') ?></a>
        </li>
        <li class="active"> <?= __('All Pages') ?></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
            </div>
        </div>
    </div>
</section>