    <!--top banner cards-->
  <!--   <section class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12 bg-orange text-center">
                    <h3 class="px-2 pt-4 pb-5">Bread &amp; Bakery</h3>
                    <?php //echo $this->Html->image('frontend/food/bread-bakery.png', ['alt' => 'Bread &amp; Bakery', 'class' => 'img-fluid']); ?>
                </div>
                <div class="col-md-3 col-sm-6 col-12 bg-yellow text-center">
                    <h3 class="px-2 pt-4 pb-5">Fresh Vegetables</h3>
                    <?php //echo $this->Html->image('frontend/food/fresh-vegetables.png', ['alt' => 'Fresh Vegetables', 'class' => 'img-fluid']); ?>
                </div>
                <div class="col-md-3 col-sm-6 col-12 bg-green text-center">
                    <h3 class="px-2 pt-4 pb-5">Best Price Product</h3>
                    <?php //echo $this->Html->image('frontend/food/best-price-product.png', ['alt' => 'Best Price Product', 'class' => 'img-fluid']); ?>
                </div>
                <div class="col-md-3 col-sm-6 col-12 bg-light-green text-center">
                    <h3 class="px-2 pt-4 pb-5">Fresh Diary Product</h3>
                    <?php //echo $this->Html->image('frontend/food/fresh-diary-product.png', ['alt' => 'Best Price Product', 'class' => 'img-fluid']); ?>
                </div>
            </div>
        </div>
    </section> -->
