<?php
/**
  * @var \App\View\AppView $this
  * @var \App\Model\Entity\Article[]|\Cake\Collection\CollectionInterface $articles
  */
use Cake\Core\Configure;
?>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?= __('Testimonials') ?>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-book"></i>  <?= __('Testimonials') ?></a>
        </li>
        <li class="active"> <?= __('All Testimonials') ?></li>
    </ol>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><?= __('Testimonials') ?></h3>

                   
                    <?php //echo $this->element("search_form"); ?>
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
            <tr>
                <th scope="col">Sr.</th>
                <th scope="col"><?= $this->Paginator->sort('author_name_en') ?></th>
                <th scope="col"><?= $this->Paginator->sort('company_name_en') ?></th>
                <th scope="col"><?= $this->Paginator->sort('position_en') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $i=1; foreach ($testimonials as $testimonial): ?>
            <tr>
                <td><?= $i ?></td>
                <td><?= h($testimonial->author_name_en) ?></td>
                <td><?= h($testimonial->company_name_en) ?></td>
                <td><?= h($testimonial->position_en) ?></td>
                <td><?= $testimonial->created ?></td>
                <td class="actions">

                    <?= $this->Html->link($this->Html->tag('i', '', array('class' => 'fa fa-pencil-square-o')).'', array('action' => 'edit', $testimonial->id), array('escape' => false)) ?> |
                    
                    <?= $this->Form->postLink(__('<i class="fa fa-trash-o"></i>'),['action' => 'delete', $testimonial->id],['escape' => false, 'confirm' => __('Are you sure you want to delete {0}?', $author_name_en)])
                    ?>
    
                </td>
            </tr>
             <?php $i++; endforeach; ?>
        </tbody>
    </table>
     </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">

                        <li><?=$this->Paginator->first('<< ' . __('First ')) ?></li>
                        <li><?=$this->Paginator->prev('< ' . __('Previous ')) ?>
                        <li><?=$this->Paginator->numbers() ?></li>
                        <li><?=$this->Paginator->next(__('Next ') . '>') ?></li>
                        <li><?=$this->Paginator->last(__('Last') . ' >>') ?></li>
                    </ul>
                    <p><?=$this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<!-- /.content -->