<div class="container clearfix">
    <div class="transportion"><?php echo __('Transportion'); ?></div>
    <div class="cancun-book-from col-sm-7 wow slideInLeft">
        <div class="col-sm-12  top-header-search">
            <div class="col-sm-8 book-shuttle"><?php echo __('Book Your Shuttle'); ?></div>
            <!--             <div class="col-sm-4 text-right book-your-tour"><a href="#topTour">Book Your Tour </a></div> -->
        </div>
        <?php
            echo $this->element('frontend/shuttle-booking');
        ?>
    </div>
</div>